@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img  src="~/img/th.jpg" height="400" width="600" alt="newimage"/>


<img src="~/img/th.jpg" asp-append-version="true" height="400" width="600" alt="newimage" />
